.logo {
  height:233px;
  margin-top:89px;
  text-align: center;
}

.searchbar {
    text-align: center;
    -webkit-appearance: none;
}

.toplist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width:100%;
}

.toplist li {
  float: left;
}

.toplist li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.toplist li a:hover {
  background-color: #111;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
.footer li {
    float: center;
  }

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
  }
  
.footer li a:hover {
    background-color: #111;
  }